@charset "utf-8";

/*
   BP Project
https://htmlcolorcodes.com/
*/


/* Window and Body Styles */



html {  
	
}

footer#grass
{
	
	float: right;
}

body
{
	background-color: #2fccc4;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
	margins-left: 10px;
	width: 100%;
	min-width: auto;
	max-width: auto;
}



nav
{
	text-decoration:none;
	padding-bottom: 10%;
	letter-spacing: 6px;
	width: 80px;
	margin-left:30px;
	font-size: 30px;
}


/* Div */



#nav2 {
	margin-right: 65%;
	background-color: #5CEE63;
	width: 100%;
	margin-top:6%;
	position: absolute;
}

#nav {
	margin-right: 75%;
	
}

/* Table */

#formGroupExampleInput2 {
	text-decoration: overline;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 30px;
}

#calendar{
	float: left;
	margin-left: 30px;
}

#form {
	float: right;
	width: 410px;
	height: auto;
	border-top: solid black;
	background-color: #99FF66;
	margin-right: 20px;

	text-decoration: overline;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 15px;
}

#table {
	margin-bottom: 100%;
	width: 75%;
	float: right;
}

#tTable {
	background-color: #B1E62C;
}

#tTTable {
	background-color: #9BE62C;
}


/* Footer Styles */

#grass3 {
	width: 300px;
	background-repeat:repeat-x;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
	 z-index: -1;
} 

#grass {
	width: 250px;
	background-repeat:repeat-x;
	float: right;
	margin-left: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
	
	 z-index: -1;
}
#grass2 {
	width: 310px;
	background-repeat:repeat-x;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	 z-index: -1;
}
#grass4 {
	width: 300px;
	background-repeat:repeat-x;
	margin-right: 20px;
	 z-index: -1;
}

footer {
	background-image:url(Images/Grass.png);
    	background-repeat:no-repeat;


}

#chart {
	margin-top: 850px;
	margin-left: 350px;
	float: right;
	z-index:1;
	position: absolute;
}
