@charset "utf-8";

/*
   BP Project
*/


/* Window and Body Styles */





blockquote{
	display : block;
	width: 20%;
}

body
{
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

}

 #testimonials {
	float: right;
	margin-bottom: 20%;
	font-size: 25px;
	width: 40%;
	margin-right: 60px;
	margin-top: 550px;
}


nav
{
	text-decoration:none;
	padding-bottom: 10%;
	letter-spacing: 6px;
	width: 300px;
	font-size: 30px;
}


#opensign {
	float: left;
	margin-bottom: 30%;
	margin-left: 50px;
}

#grass {
    background-repeat:space;
    width: 1000px;
    float: center;

}



/* Aside */

.testimonials {
	

}


/* Footer Styles */

footer {
position: absolute;
margin-top: 90%;
}