@charset "utf-8";

/*
   BP Project
*/


/* Window and Body Styles */







body
{
	background-color: #2fccc4;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
	margins-left: 10px;
	width: 100%;
	min-width: auto;
	max-width: auto;
}

img
{
	
}

nav
{
	text-decoration:none;
	padding-bottom: 10%;
	letter-spacing: 6px;
	width: 800px;
}


body {
	position: relative;
}




#grass {
		margin: auto;
		display: block;
		
}



/* Body Header Styles */
#background {
	background: no-repeat;
	float:left;
	margin-top: 30px;
	
	
}

#video{
	float: right;
	padding-bottom: -3px;
	
}

/* Aside */

aside {
	padding-left: 10%;

}


/* Footer Styles */

footer {
	bottom: 80%;
	right: 50%;
	left: 50%;
	height: 100px; 
	width:100%;
}